[submodule "submodules/growthbeat-core-android"]
	path = submodules/growthbeat-core-android
	url = https://github.com/SIROK/growthbeat-core-android.git
[submodule "submodules/growthpush-android"]
	path = submodules/growthpush-android
	url = https://github.com/SIROK/growthpush-android.git
[submodule "submodules/growthreplay-android"]
	path = submodules/growthreplay-android
	url = https://github.com/SIROK/growthreplay-android.git
[submodule "submodules/growthanalytics-android"]
	path = submodules/growthanalytics-android
	url = https://github.com/SIROK/growthanalytics-android.git
